<br/><br/>
<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{trainerData.displayName}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{trainerData.photoURL}}>
  <mat-card-content>
    <h4>City:</h4>
    <p>
            {{trainerData.city}}
    </p>
    <h4>Age:</h4>
    <p>
            {{trainerData.age}}
    </p>
    <h4>About Me:</h4>
    <p>
            {{trainerData.about}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary"><span class="material-icons">
      message
      </span></button>
    <button mat-button><span class="material-icons">
      favorite
      </span></button>
    <button mat-button><span class="material-icons">
      share
      </span>
      </button>
  </mat-card-actions>
</mat-card>
